[user]
	name = Nelu Snegur
	email = nelu.snegur@pulsarplanet.com
[pull]
	ff = only
[core]
	autocrlf = input
	safecrlf = true
	excludesfile = ~/.gitignore
	editor = nvim
[commit]
	gpgsign = true
[init]
	defaultBranch = main
